@media (min-width: 1440px) {

    .container__header{
        max-width: 1440px;
        display: contents;
       
    }


    .header{
        padding: 2em 11em;
        
    }



    .UE{
        height: 60px;
    }


    .logo{
        font-size: 1.7em;
        margin-top: 0.3em;
    }


    .logo2{
        font-size: 0.3em;
        margin-left: 2.5em;
        margin-top: -1em;
        width: max-content;

    }


    .ul1{
        font-size: 0.9rem;
        margin-left: -1.9em;
        margin-top: 0.9em;
    }



    .nav1{
        margin-top: 0.3em;
    }


    .TRT{
        height: 20px;
        margin-top: 2.3px;
        margin-left: 5px;
    }


    li{
        padding: 0px 5px;
    }


    .li1{
        height: 9px;
        margin-top: 6.5px;
        margin-left: 2.5px;
    }
    .li2{
        height: 9px;
        margin-top: 6.5px;
        margin-left: 2.5px;
    }
    .li3{
        height: 9px;
        margin-top: 6.5px;
        margin-left: 2.5px;
    }
    .li4{
        height: 9px;
        margin-top: 6.5px;
        margin-left: 2.5px;
    }



    /* ############################################################################################################################## */

                            /* Header Complete =====>>>>> Part - 1 =====>>>>>    DONE Now...      */

    /* ############################################################################################################################## */

                                                    /* ********************* */

    /* ############################################################################################################################## */

                            /* Main Section =====>>>>> Part - 2 =====>>>>>    START's Now...      */

    /* ############################################################################################################################## */


    .all-3-div-mm{
        margin-right: 22em;
    }


 


    /* ############################################################################################################################## */

                            /* Main Section =====>>>>> Part - 2 =====>>>>>    DONE Now...      */

    /* ############################################################################################################################## */

                                                    /* ********************* */

    /* ############################################################################################################################## */

                            /* Footer Section =====>>>>> Part - 3 =====>>>>>    START's Now...      */

    /* ############################################################################################################################## */


   


    .downlogo {
        width: 160px;
        margin-top: 70px;
        margin-left: -27em;
    
    }


   



    .downlogo3 {
        margin-top: 4em;
        margin-left: 165%;

    }

    

   

    /* ############################################################################################################################## */

                                /* Footer Section =====>>>>> Part - 3 =====>>>>>    DONE Now...      */

    /* ############################################################################################################################## */







        /* Font Sizes = Hero section Part ===>>> 1-----One */
        
        
        
        
        .btn1 {
            padding: 13px 13px;
            background-color: #00b6d1;
            color: white;
            border: none;
            font-weight: 610;
            border-radius: 5px;
            cursor: pointer;
        }
        
        

        .main2 {
            width: 900px;
            padding: 0px 50px;
            margin-left: 365px;
            margin-top: 50px;
            
        }
        
        .span1 {
            font-size: 35px;
        }
        
        
        .main3 {
            width: 787px;
            text-align: center;
            margin-left: 377px;
            font-size: 17px;
            font-weight: 400;
            margin-top: 10px;
        }
        
        
        
        
        .main4 {
            margin-left: 633px;
            padding: 30px 0px;
        }
        
        
        
        
        /* Font Sizes = Hero section Part ===>>> 2-----Two */
        
        
        
        
        
        .main5{
            margin-right: 63em;
            font-size: 0.8rem;
            width: max-content;
        }
        
        

        /* .seclogo__img{
            
            
        } */
        
        
        .img22 {
            width: 50px;
        }
        
        
        
        .duett {
            margin-left: 10px;
            text-align: center;
            font-size: 22px;
            margin-top: -10px;
        }
        
        
        .small1 {
            margin-top: -2px;
        }
        

        .txt22 {
            margin-left: 10px;
        }
        
        
        
        
        
        /* Font Sizes = Hero section Part ===>>> 3-----Three */
        
        
        
        
        
        .main {
            padding: 70px 310px;
            display: grid;
            grid-template-columns: 330px 330px 330px;
            grid-template-rows: 100px 100px 100px 100px;
            grid-gap: 60px 30px;
            justify-content: center;
            align-items: center;
            margin-top: -30px;
        }
        
        
        
        .div1 {
            background-color: #f9f9f9;
            border-radius: 10px;
            text-align: center;
            font-weight: 700;
            padding: 50px 40px;
        }
        
        


        .lang1 {
            margin-top: -25px;
            position: relative;
            top: -10px;
            font-size: 1rem;
        }


        .subdiv1 {
            font-weight: 400;
            font-size: 10px;
        }




        .d32 {
            background-color: #00b6d1;
            color: white;
            font-size: 11px;
            padding: 10px 12px;
            border-radius: 5px;
            margin-bottom: 10px;
            position: relative;
            bottom: -30px;
            left: -5px;
        }



        .d64 {
            background-color: #5cb85c;
            color: white;
            font-size: 11px;
            padding: 10px 12px;
            border-radius: 5px;
            margin-bottom: 10px;
            position: relative;
            bottom: -30px;
            left: 5px;
        }



        
        /* Font Sizes = Footer Part ===>>> 1 ----- One */
        
        
        
        
        .blackftr {
            height: max-content;
            background-color: #222222;
            padding: 50px 0px;
        }
        
        
        
        
        
        .textt1{
            margin-left: 18em;
        }
        
        
        
        .newsletter {
            font-size: 20px;
            margin-right: 0.7em;
        }
        
        
        
        
        .textt2 {
            margin-top: 10px;
            font-weight: 300;
            font-size: 0.8rem;
            width: 31em;
        }

        
        
        
        .spanbox1{
            margin-left: 3em;
            display: inline-block;
            background-color: white;
            border-radius: 15px;
            height: 265px;
            width: 350px;
        }


        
        
        
        .divhead {
            color: #00b6d1;
            font-weight: 400;
            font-size: 1.3rem;
            margin-top: 20px;
            margin-left: 2.7em;
            padding: 10px 0px;
        }

        
        .divsubhead {
            margin-left: 9em;
            font-size: 0.8rem;
            position: relative;
            top: 25px;
        }
        
        
        
        .searchbox1 {
            height: 50px;
            width: 280px;
            margin-left: 41px;
            margin-top: 30px;
            padding: 10px 10px;
            border: 1px solid;
            border-color: rgb(51 51 51 / 16%);
            box-sizing: border-box;
        }
        
        


        .searchbox1::placeholder{
            font-size: 14px;
            position: relative;
            left: 10px;
            top: 2px;
        }

        
        
        .SIGNUP {
            margin-top: 15px;
            margin-left: 38px;
            width: 80%;
            height: 45px;
            background-color: #00b6d1;
            border-color: #4daaf2;
            color: white;
            font-weight: 700;
            font-size: medium;
            border: 1px solid;
            border-radius: 5px;
            box-shadow: 0 14px 18px -8px rgb(77 170 242 / 37%);
            cursor: pointer;
        }

        
        
        .msitext{
            margin-left: 21em;
        }
        
        
        .msitext2 {
            font-size: 1.3rem;
            font-weight: 600;
        }
        
        
        p {
            padding: 10px 0px;
            font-weight: 300;
            font-size: smaller;
        }
        
        
        .para2{
            margin-bottom: 3.1em;
        }
        

        .para3 {
            width: 860px;
        }


        
        /* Font Sizes = Footer Part ===>>> 2 ----- Two */



        .whiteftr{
            background-color: #f9f9f9;
            height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* overflow-x: hidden; */
        }

        
        .boxdiv1{
            display: flex;
            margin-top: 110px;
            margin-right: 8em;
            margin-left: 8em;
            flex-wrap: wrap;
            column-gap: 2em;
            row-gap: 0em;
            
        }
    

        .listhead1 {
            height: 50px;
            font-size: 1.1rem;
            font-weight: 600;
        }

        
        .listhead2{
            font-size: 1.1rem;
            
        }
        .listhead3{
            font-size: 1.1rem;
            
        }
        .listhead4{
            font-size: 1.1rem;
            
        }



        .dwnli {
            font-size: 0.8rem;
            font-weight: 400;
            padding: 2px 12px;
        
        }
        
        
        #lastbtn {
            padding: 13px 10px;
            border: 1px solid;
            border-color: rgb(51 51 51 / 16%);
            border-radius: 7px;
            width: 100%;
            height: auto;
            margin-top: 5px;
            margin-bottom: 10px;
        
        
        }
        
        #lastbtn::placeholder{
            font-size: 13px;
            position: relative;
            left: 10px;
            top: 2px;
        }
        

        
        .finalbtn {
            width: 100%;
            height: 40px;
            border: 1px solid;
            background-color: #00b6d1;
            color: white;
            border-radius: 7px;
            font-size: 14px;
            font-weight: 700;
            border-color: rgb(51 51 51 / 16%);
            cursor: pointer;

        }   





        .downlogo {
            width: 150px;
            margin-top: 70px;
            margin-left: -27em;

        }



        .downlogo3 {
            margin-top: 4.7em;
            margin-left: 200%;
            width: 15em;
        }



        .copyright {
            margin-top: 1em;
            margin-right: 100em;
            font-size: 12px;
            width: max-content;
    
    
        }

}