


    /* ############################################################################################################################## */

                            /* Header Section =====>>>>> Part - 1 =====>>>>>    START's Now...      */

    /* ############################################################################################################################## */






@media (min-width: 2560px) {

    .container__header{
        max-width: 2560px;
        display: contents;
    }


    .header{
        padding: 2em 30em;
    }



    .UE{
        height: 60px;
    }


    .logo{
        font-size: 1.7em;
        margin-top: 0.3em;
    }


    .logo2{
        font-size: 0.3em;
        margin-left: 2.5em;
        margin-top: -1em;
        width: max-content;

    }


    .ul1{
        font-size: 0.9rem;
        margin-left: -1.9em;
        margin-top: 0.9em;
    }



    .nav1{
        margin-top: 0.3em;
    }


    .TRT{
        height: 20px;
        margin-top: 2.3px;
        margin-left: 5px;
    }


    li{
        padding: 0px 5px;
    }


    .li1{
        height: 9px;
        margin-top: 6.5px;
        margin-left: 2.5px;
    }
    .li2{
        height: 9px;
        margin-top: 6.5px;
        margin-left: 2.5px;
    }
    .li3{
        height: 9px;
        margin-top: 6.5px;
        margin-left: 2.5px;
    }
    .li4{
        height: 9px;
        margin-top: 6.5px;
        margin-left: 2.5px;
    }

}

    /* ############################################################################################################################## */

                            /* Header Complete =====>>>>> Part - 1 =====>>>>>    DONE Now...      */

    /* ############################################################################################################################## */

                                                    /* ********************* */

    /* ############################################################################################################################## */

                            /* Main Section =====>>>>> Part - 2 =====>>>>>    START's Now...      */

    /* ############################################################################################################################## */




    @media (min-width: 2560px) {

        .main-container{
            max-width: 2560px;
            
        }



        .all-3-div-mm{
            margin-right: 20em;
        }



        .main5{
            margin-right: 50em;
        }




        .spanbox1{
            margin-left: 10em;
        }


        .textt1{
            margin-left: 45em;
        }


        .msitext{
            margin-left: 49em;
        }




    /* ############################################################################################################################## */

                            /* Main Section =====>>>>> Part - 2 =====>>>>>    DONE Now...      */

    /* ############################################################################################################################## */

                                                    /* ********************* */

    /* ############################################################################################################################## */

                            /* Footer Section =====>>>>> Part - 3 =====>>>>>    START's Now...      */

    /* ############################################################################################################################## */




        
        .whiteftr{
            background-color: #f9f9f9;
            height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* overflow-x: hidden; */
        }


        .downlogo {
            width: 160px;
            margin-top: 70px;
            margin-left: -23em;
        
        }


        .copyright {
            margin-top: 1em;
            margin-right: 91em;
            font-size: 12px;


        }



        .downlogo3 {
            margin-top: 4em;
            margin-left: 192%;

        }

        


        .boxdiv1{
            margin-right: 4em;
        }



        /* .container__footer{ */
            /* width: 100%; */
            /* margin: 0 auto; */
            /* margin-left: auto; */
            /* margin-right: auto; */
            /* display: flex; */
            /* flex-direction: column; */
            /* justify-content: center; */
            /* overflow-x: hidden; */
        /* } */
 
        


    /* ############################################################################################################################## */

                                /* Footer Section =====>>>>> Part - 3 =====>>>>>    DONE Now...      */

    /* ############################################################################################################################## */
         














}
